.header {
  max-width: 470px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  text-transform: lowercase;
  color: var(--color-text);

  .theme {
    background: var(--color-block);
    width: 50px;
    height: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    span {
      display: block;
      height: 15px;
      width: 15px;
      background: var(--color-accent);
      border-radius: 50px;
      position: absolute;
      top: 2px;
      left: 3px;
      transition: all 0.3s ease;
    }

    &.checked span {
      left: calc(100% - 20px);
    }

    &Container {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 14px;
      text-transform: uppercase;
    } 
  }

  .title {
    margin-left: 10px;
  }
}